<h3>Tarifierung: {{tarif}} </h3> 
<div class="row">
    <div class="col-md-4">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button (click)="onClickBerechnung()"type="button" class="btn btn-default">Berechnung</button>
            </div>
            <div class="btn-group" role="group">
                <button (click)="onClickAngebot()"type="button" class="btn btn-default">Angebot</button>
            </div>
            <div class="btn-group" role="group">
                <button (click)="onClickAntrag()"ype="button" class="btn btn-default">Antrag</button>
            </div>
        </div>
    </div>
</div>
 <app-vn [nameTarif]='tarif'> </app-vn>