<h3>Tarifierung</h3>
<div class="row">
    <div class="col-md-4">
        Modus:
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default" >
                <input (click)="onClickBerechnung()" type="radio" name="modus" id="modusRechnung"    style="visibility:hidden; width:0px;"  /> Rechnen
            </label>
            <label class="btn btn-default" >
                <input type="radio" name="modus" id="modusAngebot"    style="visibility:hidden; width:0px;"  /> Angebot
            </label>
            <label class="btn btn-default" >
                <input type="radio" name="modus" id="modusAntrag"    style="visibility:hidden; width:0px;" /> Antrag
            </label>
        </div>
    </div>
</div>
<hr />
